---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import GitHub from '../components/icons/GitHub.astro';
import SocialPill from '../components/icons/SocialPill.astro';
import Mail from '../components/icons/Mail.astro';
import TimelineExp from '../components/TimelineExp.astro';
import SectionCompone from '../components/SectionCompone.astro';
import Proyects from '../components/Proyects.astro';
import Contribution from '../components/Contribution.astro';
---

<Layout
  title="Portafolio de Matias Tardones C. Desarrollador y Programador Web"
  descripcion="Desarrollador trainee. Con ganas de obtner experincias como desarrollador"
  '
>
  <main class="px-4">
    <SectionCompone id="top" class="py-24 pb-24">
      <div class="flex flex-row justify-center gap-x-2">
        <img
          class="rounded-full size-24 mb-4 mx-8"
          src="mumei.jpg"
          alt="matias phote"
        />
        <div class="w-2/3">
          <h1
            class="text-white text-2xl md:text-4xl font-bold pb-4 flex flex-col gap-x-4 lg:pb-10"
          >
            ¡Nanashi Mumei!
          </h1>
          <span class="text-red-100">七詩ムメイ</span>
        </div>
      </div>
      <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
        <span class="text-red-100">El Guardián de la Civilización</span>, un
        búho viajero que ha sido testigo de numerosos acontecimientos.
      </h2>
      <nav class="flex gap-x-4 mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/matias-tardones-ceballos-50785b259/"
        >
          <LinkedIn class="size-4 md:size-6" />LinkeIn
        </SocialPill>
        <SocialPill href="https://github.com/MatiTC">
          <GitHub class="size-4 md:size-6" /> GitHub
        </SocialPill>
        <SocialPill href="mailto:mtardones99@gmail.com">
          <Mail class="size-4 md:size-6" /> mtardones99@gmail.com
        </SocialPill>
        <Badge>Open to Work</Badge>
      </nav>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
    </SectionCompone>

    <SectionCompone id="sobre-mi">
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
    </SectionCompone>

    <SectionCompone id="experiencia">
      <h2 class="text-2xl font-semibold mb-2">>>Experiencia</h2>
      <TimelineExp />
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
    </SectionCompone>

    <SectionCompone id="proyectos">
      <h2 class="text-2xl font-semibold mb-2">>>Proyectos</h2>
      <Proyects />
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
    </SectionCompone>

    <SectionCompone id="Contribuciones">
      <h2 class="text-2xl font-semibold mb-2">>>Contribuciones y estudios</h2>
      <Contribution/>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
    </SectionCompone>
  </main>
</Layout>
