<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Matías Tardones, aunque mis amigos me conocen como "Kazu".
      Actualmente, estoy trazando mi <strong class="text-purple-600">roadmaps</strong> profesional <strong
        >mientras busco oportunidades laborales.</strong
      >
    </p>
    <p>
      Uno de mis mayores logros académicos fue el <strong
        ><em class="italic"></em>desarrollo exitoso de un software funcional para el departamento
        tecnológico de mi universidad.</em>
      </strong>
    </p>
    <p>
      Además <strong>
        tuve el privilegio de participar en el programa de Aprendizaje y
        Servicio.</strong
      > En el cual contribui en integrar a un grupo selecto de mujeres emprendedoras
      en el mundo tecnológico.
    </p>
    <p>
      Mi objetivo es seguir formándome, <strong>perfeccionar las tecnologías que ya
      domino </strong> y adquirir nuevos conocimientos.
    </p>
  </div>
  <img src="/Lui.jpg" class="rounded-full size-64 order-1 md:order-2" />
</section>
