<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4  [&>p>strong]:font-semibold text-pretty order-2 md:order-1 text-slate-700 dark:text-slate-300"
  >
    <p>
      Me llamo Matías Tardones C, aunque mis amigos me conocen como "Kazu".
      Actualmente, estoy trazando mi <strong class="text-purple-600">roadmaps</strong> profesional <strong class="text-yellow-400"
        >mientras busco oportunidades laborales.</strong
      >
    </p>
    <p>
      Uno de mis mayores logros académicos fue el <strong  class="text-yellow-400"
        ><em class="italic"></em>desarrollo exitoso de un software funcional para el departamento
        tecnológico de mi universidad.</em>
      </strong>
    </p>
    <p>
      Además <strong class="text-indigo-600">
        tuve el privilegio de participar en el programa de Aprendizaje y
        Servicio.</strong
      > En el cual contribuí en integrar a un grupo selecto de mujeres emprendedoras
      en el mundo tecnológico.
    </p>
    <p>
      Mi objetivo es continuar mi formación, <strong class="text-yellow-400">perfeccionar las tecnologías que ya domino  </strong> y adquirir nuevos conocimientos.
    </p>
  </div>
  <img src="/mitcPlaya.jpg" class="rounded-full size-64 order-1 md:order-2" />
</section>
