---
import CardContribution from './CardContribution.astro';

const CONTRIBUTION = [
  {
    title: 'Roadmap Retos Programacion 2024',
    description:
      'Ruta de estudio con ejercicios para mejorar tu l칩gica de programaci칩n y aprender cualquier lenguaje. Gratis, a tu ritmo y en comunidad.',
    by: 'mouredev',
    date: 'En proceso - 2024',
    link: 'https://github.com/mouredev/roadmap-retos-programacion',
    githubmy: 'https://github.com/MatiTC/roadmap-retos-programacion',
    color: 'text-purple-500',
  },
  {
    title: 'FullStackOpen ',
    description:
      'Inmersi칩n Profunda en el Desarrollo Web Moderno. El enfoque principal es crear aplicaciones de una sola p치gina con ReactJS que utilizan API REST creadas con Node.js.',
    by: 'Universidad de Helsinki ',
    date: 'En proceso - 2024',
    link: 'https://fullstackopen.com/es/',
    githubmy: 'https://github.com/MatiTC/fullstackopen',
    color: ''
  },
];
---

<section class="grid grid-cols-auto-fill-minmax-300 gap-x-4 gap-y-8">
  {
    CONTRIBUTION.map((contribution) => (
      <div class="mx-auto max-w-sm p-4 border border-s rounded-lg bg-[#2a323d] shadow opacity-90 text-slate-100">
        <CardContribution {...contribution} />
      </div>
    ))
  }
</section>
