---
import CardContribution from './CardContribution.astro';

const CONTRIBUTION = [
  {
    title: 'Roadmap Retos Programacion 2024',
    description:
      'Ruta de estudio con ejercicios para mejorar tu l칩gica de programaci칩n y aprender cualquier lenguaje. Gratis, a tu ritmo y en comunidad.',
    by: 'mouredev',
    date: 'Actualmente - 2024 ',
    link: 'https://github.com/mouredev/roadmap-retos-programacion',
    githubmy: 'https://github.com/MatiTC/roadmap-retos-programacion',
    color: 'text-cyan-400'
  },
  {
    title: 'FullStackOpen ',
    description: 'Inmersi칩n Profunda en el Desarrollo Web Moderno. El enfoque principal es crear aplicaciones de una sola p치gina con ReactJS que utilizan API REST creadas con Node.js.',
    by: 'Universidad de Helsinki ',
    date: '2024',
    link: 'https://fullstackopen.com/es/',
    githubmy: 'https://github.com/MatiTC/fullstackopen',
  },
];
---

<section class="grid grid-cols-2 gap-4  mt-">
  {
    CONTRIBUTION.map((contribution) => (
      <div class="max-w-sm bg-[#2a323d]
        border border-gray-200 rounded-lg
        shadow dark:bg-gray-800 dark:border-gray-700 p-4">
        <CardContribution {...contribution} />
      </div>
    ))
  }
</section>
