---
import Separacion from './Separacion.astro';

const { id } = Astro.props;
---

<footer
  class=`rounded-lg   dark:bg-[#1c1f25] bg-slate-200 backdrop-blur-lg w-full xl:w-[740px] mx-auto mb-10 `
  id={id}
>
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
      >
        <li>
          <a href="/#experiencia" class="hover:underline me-4 md:me-6"
            >Experiencias</a
          >
        </li>
        <li>
          <a href="/#proyectos" class="hover:underline me-4 md:me-6"
            >Projectos</a
          >
        </li>
        <li>
          <a href="/#" class="hover:underline me-4 md:me-6">Collab & estudios</a>
        </li>
        <li>
          <a href="/#" class="hover:underline me-4 md:me-6">Sobre Mi</a>
        </li>
        <li>
          <a href="/#top" class="hover:underline">Contacto</a>
        </li>
      </ul>
    </div>
    <Separacion />
    <span
      class="block text-sm text-gray-500 sm:text-center dark:text-gray-400 hover:underline"
    >
      © 2023 Astro & Taildwind. Sin derechos reservados.</span
    >
  </div>
</footer>
