---
import CardProyects from './CardProyects.astro';
import NextJS from './icons/Nextjs.astro';
import Tailwind from './icons/Tailwind.astro';
import React from './icons/React.astro';
import NodeJs from './icons/Node.astro';
import ExpressJs from './icons/Express.astro';
import Vite from './icons/Vite.astro';
import Boostrap from './icons/Boostrap.astro';
import AstroIcon from './icons/AstroIcon.astro';
import MySql from './icons/MySql.astro';
import Canvas from './icons/Canvas.astro';

export const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: NextJS,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind,
  },
  REACT: {
    name: 'Reacts framework',
    class: 'bg-[#003159] text-white',
    icon: React,
  },
  NODE: {
    name: 'NodeJs library',
    class: 'bg-[#003159] text-white',
    icon: NodeJs,
  },
  EXPRESS: {
    name: 'Express.js framework',
    class: 'bg-[#003159] text-white',
    icon: ExpressJs,
  },
  Vite: {
    name: 'Vite compiler',
    class: 'bg-[#003159] text-white',
    icon: Vite,
  },
  Boostrap: {
    name: 'Boostrap 5 library CSS',
    class: 'bg-[#003159] text-white',
    icon: Boostrap,
  },
  ASTRO: {
    name: 'Astro framework',
    class: 'bg-[#003159] text-white',
    icon: AstroIcon,
  },
  MySql: {
    name: 'MySql DB',
    class: 'bg-[#003159] text-white',
    icon: MySql,
  },
  Canvas: {
    name: 'Canvas',
    class: 'bg-black text-white',
    icon: Canvas,
  },
};

const PROJECTS = [
  {
    title: 'App CITEC UBB',
    descripcion:
      'Desarrollo de aplicación web para la muestra del registro y monitoreo de variables ambientales para el edificio sensorizado del CITEC.',
    link: 'https://github.com/MatiTC/CitecFrontend03',
    github: 'https://github.com/g3rig/backendcitec',
    image: 'CITEC.jpg',
    alt: 'Imagen del home de la app Citec',
    estado: 'Privado',
    tags: [TAGS.REACT, TAGS.Vite, TAGS.Boostrap, TAGS.NODE, TAGS.EXPRESS, TAGS.MySql],
    color: 'text-blue-700',
  },
  {
    title: 'FanPage Hololive Es',
    descripcion:
      'Página web para la comunidad de Hololive Hispana. Descripción e informacion de las talentosas miembros de Hololive.',
    link: '#',
    github: 'https://github.com/MatiTC/portafolio.dev',
    image: 'hololivePage.jpg',
    estado: ' Privado',
    tags: [TAGS.ASTRO, TAGS.Boostrap,TAGS.MySql],
    color: 'text-cyan-400'
  },
];
---

<section class="grid grid-cols-auto-fill-minmax-300 gap-x-4 gap-y-8">
  {
    PROJECTS.map((proyect) => (
      <div class="mx-auto max-w-sm p-4 border border-s rounded-lg dark:bg-[#2a323d] bg-gray-300 shadow opacity-90 text-slate-100">
        <CardProyects {...proyect} />
      </div>
    ))
  }
</section>
