---
import Experience from './Experience.astro';
const EXPERIENCE = [
  {
    title: 'Desarrollo de aplicacíon web para Universidad del bío-bío',
    date: 'Segundo semetre 2023',
    description:
      'Desarrollo de aplicación web para el registro, monitoreo y análisis de variables ambientales del edificio sensorizado del citec de la  Universidad del bío-bío, Chile',
    technology: 'Reacts, Node.js',
    color: 'text-[#091f92]'
  },
  {
    title: 'Flowbite Application UI v2.0.0',
    date: 'Released on January 13th, 2022',
    description:
      'Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.',
    technology: 'astro, tolied',
  },
  {
    title: 'Flowbite Application UI v2.0.0',
    date: 'Released on January 13th, 2022',
    description:
      'Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.',
    technology: 'astro, tolied',
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6">
        <Experience {...experience} />
      </li>
    ))
  }
</ol>