---
import Experience from './Experience.astro';
import { TAGS } from './Proyects.astro';

const EXPERIENCE = [
  {
    place: 'Universidad del Bío-Bío',
    spell: 'U',
    title: 'Aplicacíon web CITEC',
    date: '2023',
    description:
      'Diseñar y desarrollar una aplicación web intuitiva y escalable para el monitoreo, registro y análisis de variables ambientales en tiempo real del edificio sensorizado del CITEC de Universidad del Bío-Bío',
    technology: 'Reacts, Node.js',
    color: 'text-blue-700',
    tags: [TAGS.REACT, TAGS.Vite, TAGS.Boostrap, TAGS.NODE,  TAGS.EXPRESS, TAGS.MySql]
  },
  {
    place: 'Freelancer',
    spell: 'F',
    title: 'Fullstack ',
    date: '2024',
    description:
      'Desarrollo de la aplicacion open source de galeria de Hololive Japon, Indonesia e Ingles. Aporte de la comunidad de Hololive Hispana',
    technology: 'Reacts, Boostrap',
    color: 'text-fuchsia-700',
    tags: [TAGS.ASTRO, TAGS.Vite, TAGS.TAILWIND]
  },

];


---

<ol class="relative border-s ml-3 ">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6 px-4 ">
        <Experience {...experience} />
      </li>
    ))
  }
</ol>