---
import Experience from './Experience.astro';
import { TAGS } from './Proyects.astro';

const EXPERIENCE = [
  {
    place: 'Universidad del Bío-Bío',
    spell: 'U',
    title: 'Aplicacíon web CITEC',
    date: '2023',
    description:
      'Desarrollador Fullstack para el departamento tecnologico CITEC UBB. Responsable del desarrollo e implementacion de sistema para la empresa y sus clientes ',
    technology: 'Reacts, Node.js',
    color: 'text-blue-700',
    tags: [TAGS.REACT, TAGS.Vite, TAGS.Boostrap, TAGS.NODE,  TAGS.EXPRESS, TAGS.MySql]
  },
  {
    place: 'Practica profesional Universidad del Bío-Bío',
    spell: 'P',
    title: 'Parte del equipo del Programa Aprendizaje Servicio FACE ',
    date: '2022',
    description:
      'Desarrollo de curso para intercambiar información relativa con metodología Aprendizaje Servicio',
    technology: 'Reacts, Boostrap',
    color: 'text-fuchsia-700',
    tags: [TAGS.Canvas]
  },

];


---

<ol class="relative border-s ml-3 dark:border-gray-200 border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6 px-4 ">
        <Experience {...experience} />
      </li>
    ))
  }
</ol>