---
import Experience from './Experience.astro';

const EXPERIENCE = [
  {
    place: 'Universidad del Bío-Bío',
    spell: 'U',
    title: 'Aplicacíon web CITEC',
    date: 'Segundo semetre 2023',
    description:
      'Diseñar y desarrollar una aplicación web intuitiva y escalable para el monitoreo, registro y análisis de variables ambientales en tiempo real del edificio sensorizado del CITEC de Universidad del Bío-Bío',
    technology: 'Reacts, Node.js',
    color: 'text-[#0092ff]'
  },
  {
    place: 'Freelancer',
    spell: 'F',
    title: 'Fullstack ',
    date: '2024',
    description:
      'Desarrollo de la aplicacion open source de galeria de Hololive Japon, Indonesia e Ingles. Aporte de la comunidad de Hololive Hispana',
    technology: 'Reacts, Boostrap',
    color: 'text-[#ffaff8]'
  },

];


---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6">
        <Experience {...experience} />
      </li>
    ))
  }
</ol>