---
import Header from '../components/Header.astro';
import '@fontsource-variable/onest';
import '@fontsource/roboto';
import Footer from '../components/Footer.astro';
import ThemeScript from '@/components/ThemeScript.astro';

interface Props {
  title: string;
  descripcion: string;
}
const { descripcion, title } = Astro.props;
---


<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={descripcion} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ThemeScript/>
  </head>
  <body class="bg-slate-200 dark:bg-[#1c1f25]">
    <Header />
    <slot />
    <Footer id="contacto" />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: 'Onest Variable', system-ui, sans-serif, 'Roboto';
    scroll-behavior: smooth; /* scroll suave */
  }
  body {
    background-color: #1c1f25;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }
  /* por si quitan las animaciones */
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
